Package: com.vanson.loader
Name: VansonLoader
Version: 3.1
Architecture: iphoneos-arm
Description: Vanson U Know?
Maintainer: Vanson
Author: Vanson
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
